[Unit]
Description=nradio3backend

[Service]
Type=simple
ExecStart=npm run start:prod
Restart=always
User=www-data
Group=www-data
Environment=PATH=/var/www/nradio3-backend:/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/nradio3-backend
StandardOutput=append:/var/log/nradio3-backend.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
